<!DOCTYPE html>
<html>
    <head>
        <title>Kiwi Lin's Intro</title>

        <link rel="icon" href="https://imgur.com/WNnYPZL">

        <link rel="stylesheet" href="styles/general.css">
        <link rel="stylesheet" href="styles/main-page.css">
        <link rel="stylesheet" href="styles/img.css">
        <link rel="stylesheet" href="styles/text.css">
        <link rel="stylesheet" href="styles/navigate-bar.css">
        <link rel="stylesheet" href="styles/main-paragraph.css">
        <link rel="stylesheet" href="styles/PBox.css">
        <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/WNnYPZL.png">

        <script src="https://unpkg.com/vue@3.0.2"></script>

        <!-- Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <main class="main-box">
            <nav class="toolbar">
                <div class="left-section">
                    <!--
                    <img class="menu-img" src="icons/menu.jpg">
                    <div class="menu-text">
                        Menu
                    </div>
                    -->
                </div>
                
                <div class="middle-section">
                    
                </div>

                <div class="right-section">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=opda0887@gmail.com">
                        <p class="contact">
                            Contact me...
                        </p>
                    </a>
                </div>
            </nav>
            <div class="my-img-box">
                <div class="img-box">
                    <img class="my-img" src="img/fb-img.jpg">
                </div>
                <p>
                    Hello, I'm Kiwi Lin
                </p>
            </div>
            <div class="social-media-box" id="SMBox">
                <div class="social-media">
                    <div class="fb">
                        <a :href="fbUrl">
                            <img src="icons/fb-icon.png">
                        </a>
                        <p>
                            my Facebook
                        </p>
                    </div>
                    <div class="twitter">
                        <a :href="twitterUrl">
                            <img src="icons/twitter-icon.jpg">
                        </a>
                        <p>
                            my Twitter
                        </p>
                    </div>
                    <div class="github">
                        <a :href="githubUrl">
                            <img src="icons/github-icon.png">
                        </a>
                        <p>
                            my Github
                        </p>
                    </div>
                </div>
            </div>

            <div class="paragraph-box" id="PBox">
                <div class="side-bar">
                    <div class="side-bar-box">
                        <p class="side-bar-text" @click="selControl">
                            Self Intro
                        </p>
                    </div>
                    <div class="side-bar-box">
                        <p class="side-bar-text" @click="eduControl">
                            Education
                        </p>
                    </div>
                    <div class="side-bar-box">
                        <p class="side-bar-text" @click="expControl">
                            Experience
                        </p>
                    </div>
                    <div class="side-bar-box">
                        <p class="side-bar-text" @click="proControl">
                            Project
                        </p>
                    </div>
                </div>
                <div class="p-bar">
                    <div class="p-text" id="theTextBox">
                        <p v-show="sel" style="font-family: Arial; line-height: 1.6">
                            <span style="font-size: 30px; font-weight: bold;">Hello, everyone:</span>
                            <br>
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;My name is Lin Sheng-Lung. You can just call me by my English name, Kiwi. Born in Kaoshung, I'm a 18-yer-old
                            college student. I'm into playing PingPong, reading, drawing pixel arts. After graduating from senior high school, I learned "web dev" and
                            "game dev". Both above have been my mayjor recently; therefore, I'll publish my works in here and they're free to download.
                            <br>
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;Also, in my free time, I'll create some small progects to make my daily-life more convenient. Stay tuned for
                            my updates and follow my Facebook, Twitter, and Github.
                            <br>
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;Thanks a lot.
                        </p>

                        <div class="eduBox" v-show="edu">
                            <p>
                                Education
                            </p>
                            <ul>
                                <li v-for="data in eduDuring">
                                    <h3>
                                        {{data.school}}
                                    </h3>
                                    <p>
                                        {{data.graduateDay}}
                                    </p>
                                </li>
                            </ul>
                            <div class="eduImg">
                                <img class="NCKU" src="img/NCKU.jpg">
                            </div>
                        </div>

                        <div class="expBox" v-show="exp">
                            <p class="exp-title">
                                Related experience
                            </p>
                            <ul>
                                <li v-for="items in experiences" class="exp-innerbox">
                                    <h3>
                                        {{items.event}}
                                    </h3>
                                    <p style="margin: 0;">
                                        {{items.inform}}
                                    </p>
                                </li>
                            </ul>
                            <img class="clubImg" src="img/coding-club.jpg">
                            <img class="npsc" src="img/npsc.jpg">
                        </div>


                        <div class="proBox" v-show="pro">
                            <p class="pro-title">
                                My two projects:
                            </p>
                            <ul>
                                <li v-for="items in projects" class="pro-innerbox">
                                    <h3>
                                        {{items.title}}
                                    </h3>
                                    <a :href="items.link" class="pro-link">
                                        {{items.link}}
                                    </a>
                                </li>
                            </ul>
                            <img class="onlineShopImg" src="img/online-shop.png">
                            <img class="todoImg" src="img/todo-img.png">
                        </div>
                    </div>
                    <div class="p-img">

                    </div>

                    <div class="background">
                        <img class="backgroundImg" src="img/Sence.png">
                    </div>

                </div>
            </div>

        </main>

        <script src="controlClick.js"></script>

    </body>
</html>
