.eduBox {
    position: relative;
}

.eduImg {
    position: absolute;
    bottom: -100px;
    right: 0;
}

.NCKU {
    border-radius: 6px;
}

/* */

.proBox {
    position: relative;
}

.pro-title {
    margin-bottom: 20px;
}

.pro-innerbox {
    margin-bottom: 60px;
}

.pro-link {
    color: rgb(227, 12, 227);
}

.onlineShopImg {
    position: absolute;
    bottom: 30px;
    right: 70px;
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.todoImg {
    position: absolute;
    bottom: -130px;
    right: -20px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}