.my-img-box p {
    font-size: 50px;
}

/* */

.menu-text {
    position: absolute;
    background-color: gray;
    padding: 3px 8px;
    border-radius: 4px;
    opacity: 0;
    bottom: -25px;
    left: 60px;
    pointer-events: none;
}
.left-section:hover .menu-text {
    opacity: 1;
    transition: opacity 0.15s;
}

/* */

.contact {
    display: inline-block;
    color: white;
}

.contact:hover {
    color: blueviolet;
    cursor: pointer;
    text-decoration: underline;
}

/* */

.fb p {
    margin-top: 15px;
    text-align: center;
}

.twitter p {
    margin-top: 10px;
    text-align: center;
}

.github p {
    margin-top: 10px;
    text-align: center;
}